<%- include("partials/header"); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <lable>Title</lable>
    <input class="form-control" type="text" name="publishTitle">
    <lable>Post</lable>
    <textarea class="form-control" name="publishPost" cols="30" rows="5"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>


<%- include("partials/footer"); -%>
